<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="myTeacherApp.payment.detail.title">Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.payment.deadline">Deadline</span></dt>
        <dd>
          <span>{{ payment.deadline | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.payment.date">Date</span></dt>
        <dd>
          <span>{{ payment.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.payment.course">Course</span></dt>
        <dd>
          <div *ngIf="payment.course">
            <a [routerLink]="['/course', payment.course?.id, 'view']">{{ payment.course?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
