<div>
  <div *ngIf="course">
    <div class="row">

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div class="col-3">
        <h2 data-cy="courseDetailsHeading"><span jhiTranslate="myTeacherApp.course.detail.title">Course</span></h2>
        <h4>
          <span style="color: #343a40">{{ course.name }}</span>
        </h4>
      </div>
      <div class="col-4">
        <dl class=" jh-entity-details">
          <dt><span jhiTranslate="myTeacherApp.course.category">Category</span></dt>
          <dd>
            <span>{{ course.category }}</span>
          </dd>
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ course.id }}</span>
          </dd>
          <dt><span jhiTranslate="myTeacherApp.course.value">Value</span></dt>
          <dd>
            <span>{{ course.value }}</span>
          </dd>
          <dt><span jhiTranslate="myTeacherApp.course.price">Price</span></dt>
          <dd>
            <span>{{ course.price }}</span>
          </dd>
        </dl>
      </div>
      <div class="col-5">
        <dl class=" jh-entity-details">
          <dt><span jhiTranslate="myTeacherApp.course.description">Description</span></dt>
          <dd>
            <span>{{ course.description }}</span>
          </dd>
          <dt><span>Instruktor</span></dt>
          <dd>
            <span>{{ course.user?.login }}</span>
          </dd>

        </dl>
      </div>
    </div>
    <div class="border border mb-5 p-3">
      <jhi-lesson *ngIf="course.id" [courseId]="course.id"></jhi-lesson>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_TEACHER'" type="button" [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
</div>
