<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ranking">
      <h2 data-cy="rankingDetailsHeading"><span jhiTranslate="myTeacherApp.ranking.detail.title">Ranking</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ranking.id }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.ranking.points">Points</span></dt>
        <dd>
          <span>{{ ranking.points }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.ranking.nowa">Nowa</span></dt>
        <dd>
          <span>{{ ranking.nowa }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ranking', ranking.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
