<div>
  <h2 id="page-heading" data-cy="EmailNotificationUserHeading">
    <span jhiTranslate="myTeacherApp.emailNotificationUser.home.title">Email Notification Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myTeacherApp.emailNotificationUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-email-notification-user"
        [routerLink]="['/email-notification-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myTeacherApp.emailNotificationUser.home.createLabel"> Create a new Email Notification User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emailNotificationUsers?.length === 0">
    <span jhiTranslate="myTeacherApp.emailNotificationUser.home.notFound">No emailNotificationUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="emailNotificationUsers && emailNotificationUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.emailNotificationUser.user">User</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.emailNotificationUser.emailNotification">Email Notification</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emailNotificationUser of emailNotificationUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/email-notification-user', emailNotificationUser.id, 'view']">{{ emailNotificationUser.id }}</a>
          </td>
          <td>
            {{ emailNotificationUser.user?.login }}
          </td>
          <td>
            <div *ngIf="emailNotificationUser.emailNotification">
              <a [routerLink]="['/email-notification', emailNotificationUser.emailNotification?.id, 'view']">{{
                emailNotificationUser.emailNotification?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div >
              <button
                type="submit"
                [routerLink]="['/email-notification-user', emailNotificationUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >Otwórz</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/email-notification-user', emailNotificationUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emailNotificationUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
