<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="task">
      <h2 data-cy="taskDetailsHeading"><span jhiTranslate="myTeacherApp.task.detail.title">Task</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ task.id }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.task.title">Title</span></dt>
        <dd>
          <span>{{ task.title }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.task.pointGrade">Point Grade</span></dt>
        <dd>
          <span>{{ task.pointGrade }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.task.content">Content</span></dt>
        <dd>
          <span>{{ task.content }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.task.deadline">Deadline</span></dt>
        <dd>
          <span>{{ task.deadline | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.task.attachment">Attachment</span></dt>
        <dd>
          <div *ngIf="task.attachment">
            <a (click)="openFile(task.attachment, task.attachmentContentType)" jhiTranslate="entity.action.open">open</a>
            {{ task.attachmentContentType }}, {{ byteSize(task.attachment) }}
          </div>
        </dd>
        <dt><span jhiTranslate="myTeacherApp.task.lesson">Lesson</span></dt>
        <dd>
          <div *ngIf="task.lesson">
            <a [routerLink]="['/lesson', task.lesson?.id, 'view']">{{ task.lesson?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
