<div>
  <div *ngIf="task">
    <div class="row" >

      <div class="col-4">
        <h2 data-cy="taskDetailsHeading"><span >Zadanie</span></h2>
        <hr/>
        <h5>
          <p>Tytuł</p>
        </h5>
        <h4>
          {{ task.title }}
        </h4>
      </div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div class="col-4">
        <dl class="row-md jh-entity-details">
          <dt><span >ID</span></dt>
          <dd>
            <span>{{ task.id }}</span>
          </dd>
          <dt><span >Wartość punktów</span></dt>
          <dd>
            <span>{{ task.pointGrade }}</span>
          </dd>
          <dt><span>Załącznik</span></dt>
          <dd>
            <div *ngIf="task.attachment">
              <button class="btn btn-outline-secondary" (click)="openFile(task.attachment, task.attachmentContentType)"
                 ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
              </svg>
                Otwórz</button>
              {{ task.attachmentContentType }}, {{ byteSize(task.attachment) }}
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-4">
        <dl class="row-md jh-entity-details">
          <dt><span >Treść</span></dt>
          <dd>
            <span>{{ task.content }}</span>
          </dd>
          <dt><span >Deadline</span></dt>
          <dd>
            <span>{{ task.deadline | formatMediumDate }}</span>
          </dd>
          <dt><span>Lekcja</span></dt>
          <dd>
            <div *ngIf="task.lesson">
              <a [routerLink]="['/lesson', task.lesson?.id, 'view']">{{ task.lesson?.name }}</a>
            </div>
          </dd>
        </dl>
      </div>
      <div class="border border mb-5 p-3">
        <jhi-task-solved *ngIf="task.id" [task]="task"></jhi-task-solved>
      </div>
      <br>

    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
</div>
