<div>
  <h2 id="page-heading" data-cy="TaskHeading">
    <span >Zadania</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myTeacherApp.task.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_TEACHER'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task"
        [routerLink]="['/task/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Dodaj nowe zadanie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tasks?.length === 0">
    <span jhiTranslate="myTeacherApp.task.home.notFound">No tasks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tasks && tasks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span >ID</span></th>
          <th scope="col"><span >Tytuł</span></th>
          <th scope="col"><span >Ilość punktów</span></th>
          <th scope="col"><span >Treść</span></th>
          <th scope="col"><span >Deadline</span></th>
          <th scope="col"><span >Załącnzik</span></th>
          <th scope="col"><span >Lekcja</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/task', task.id, 'view']">{{ task.id }}</a>
          </td>
          <td>{{ task.title }}</td>
          <td>{{ task.pointGrade }}</td>
          <td>{{ task.content }}</td>
          <td>{{ task.deadline | formatMediumDate }}</td>
          <td>
            <button class="btn btn-outline-secondary" *ngIf="task.attachment" (click)="openFile(task.attachment, task.attachmentContentType)"
              ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
              <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
            </svg>Otwórz</button>

          </td>
          <td>
            <div *ngIf="task.lesson">
              <a [routerLink]="['/lesson', task.lesson?.id, 'view']">{{ task.lesson?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div >
              <button type="submit" [routerLink]="['/task', task.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >Otwórz</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_TEACHER'"
                type="submit" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_TEACHER'"
                type="submit" (click)="delete(task)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
