<div>
  <h2 id="page-heading" data-cy="TaskSolvedHeading">
    <span>Rozwiązania</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myTeacherApp.taskSolved.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task-solved"
        [routerLink]="['/task-solved/new', task?.id]"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Dodaj rozwiązanie</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taskSolveds?.length === 0">
    <span jhiTranslate="myTeacherApp.taskSolved.home.notFound">No taskSolveds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taskSolveds && taskSolveds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Punkty</span></th>
          <th scope="col"><span>Treść</span></th>
          <th scope="col"><span>Deadline</span></th>
          <th scope="col"><span>Dzień wysłania</span></th>
          <th scope="col"><span>Odpowiedź</span></th>
          <th scope="col"><span>Załącznik</span></th>
          <th scope="col"><span>Użytkownik</span></th>
          <th scope="col"><span>Zadanie</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taskSolved of taskSolveds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/task-solved', taskSolved.id, 'view']">{{ taskSolved.id }}</a>
          </td>
          <td>{{ taskSolved.pointGrade }}</td>
          <td>{{ taskSolved.content }}</td>
          <td>{{ taskSolved.deadline | formatMediumDate }}</td>
          <td>{{ taskSolved.sendDay | formatMediumDate }}</td>
          <td>{{ taskSolved.answer }}</td>
          <td>
            <button class="btn btn-outline-secondary"
              *ngIf="taskSolved.attachment"
              (click)="openFile(taskSolved.attachment, taskSolved.attachmentContentType)"

              >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
              </svg>
              Otwórz</button
            >
          </td>
          <td>
            {{ taskSolved.user?.login }}
          </td>
          <td>
            <div *ngIf="taskSolved.task">
              <a [routerLink]="['/task', taskSolved.task?.id, 'view']">{{ taskSolved.task?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div >
              <button
                type="submit"
                [routerLink]="['/task-solved', taskSolved.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >Otwórz</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/task-solved', taskSolved.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(taskSolved)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
