<div>
  <h2 id="page-heading" data-cy="TimeShitHeading">
    <span jhiTranslate="myTeacherApp.timeShit.home.title">Time Shits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myTeacherApp.timeShit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-time-shit"
        [routerLink]="['/time-shit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myTeacherApp.timeShit.home.createLabel"> Create a new Time Shit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="timeShits?.length === 0">
    <span jhiTranslate="myTeacherApp.timeShit.home.notFound">No timeShits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="timeShits && timeShits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.timeShit.present">Present</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.timeShit.date">Date</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.timeShit.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeShit of timeShits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/time-shit', timeShit.id, 'view']">{{ timeShit.id }}</a>
          </td>
          <td>{{ timeShit.present }}</td>
          <td>{{ timeShit.date | formatMediumDate }}</td>
          <td>
            {{ timeShit.user?.login }}
          </td>
          <td class="text-right">
            <div >
              <button
                type="submit"
                [routerLink]="['/time-shit', timeShit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >Otwórz</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/time-shit', timeShit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(timeShit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
