<div>
  <h2 id="page-heading" data-cy="CourseUserHeading">
    <span >Moi Studenci</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myTeacherApp.courseUser.home.refreshListLabel">Refresh List</span>
      </button>

    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courseUsers?.length === 0">
    <span jhiTranslate="myTeacherApp.courseUser.home.notFound">No courseUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="courseUsers && courseUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.courseUser.user">User</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.courseUser.course">Course</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseUser of courseUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/course-user', courseUser.id, 'view']">{{ courseUser.id }}</a>
          </td>
          <td>
            {{ courseUser.user?.id }}
          </td>
          <td>
            <div *ngIf="courseUser.course">
              <a [routerLink]="['/course', courseUser.course?.id, 'view']">{{ courseUser.course?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div >
              <button
                type="submit"
                [routerLink]="['/course-user', courseUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >Otwórz</span>
              </button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
