<div>
  <h2 id="page-heading" data-cy="CourseUserHeading">
    <span >Moi Studenci</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myTeacherApp.courseUser.home.refreshListLabel">Refresh List</span>
      </button>

    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courseUsers?.length === 0">
    <span jhiTranslate="myTeacherApp.courseUser.home.notFound">No courseUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="courseUsers && courseUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span >ID ucznia</span></th>
          <th scope="col"><span >Avatar</span></th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Email</th>
          <th scope="col"><span >Kurs</span></th>
          <th scope="col">Liczba punktów</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseUser of courseUsers; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'" >
            <a  [routerLink]="['/course-user', courseUser.id, 'view']">{{ courseUser.id }}</a>
          </td>
          <td>
            {{ courseUser.id }}
          </td>
          <td *ngIf="courseUser.user?.imageUrl">
             <span >
            <img [src]="courseUser.user?.imageUrl" height="60px" class="profile-image rounded-circle" alt="Avatar" />
          </span>
          <td *ngIf="!courseUser.user?.imageUrl">
          <td>
            {{ courseUser.user?.firstName}}
          </td>
          <td>
            {{ courseUser.user?.login}}
          </td>
          <td>
            {{ courseUser.user?.email }}
          </td>
          <td>
            <div *ngIf="courseUser.course">
              <a [routerLink]="['/course', courseUser.course?.id, 'view']">{{ courseUser.course?.name }}</a>
            </div>
          </td>
          <td>
            {{ courseUser.user?.id }}
          </td>
          <td class="text-right">
            <div >
              <button
                type="submit"
                [routerLink]="['/course-user', courseUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >Otwórz</span>
              </button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
