<div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span jhiTranslate="myTeacherApp.course.home.refreshListLabel">Refresh List</span>
    </button>
  </div>
  <!--My Courses-->
  <div *jhiHasAnyAuthority="'ROLE_USER'">
    <h2 id="page-heading" data-cy="CourseHeading">
      <span>My bought courses</span>

      <div class="d-flex justify-content-end">

        <button
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-course"
          [routerLink]="['/course/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="myTeacherApp.course.home.createLabel"> Create a new Course </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="myCourses?.length === 0">
      <span jhiTranslate="myTeacherApp.course.home.notFound">No courses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="myCourses && myCourses.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.name">Name</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.value">Value</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.price">Price</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.category">Category</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.description">Description</span></th>
          <th scope="col"><span>Instruktor</span></th>
          <!--          <th scope="col"><span jhiTranslate="myTeacherApp.course.user">User</span></th>-->
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of myCourses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/course', course.id, 'view']">{{ course.id }}</a>
          </td>
          <td>{{ course.name }}</td>
          <td>{{ course.value }}</td>
          <td>{{ course.price }}</td>
          <td>{{ course.category }}</td>
          <td>{{ course.description }}</td>
          <td>
            {{ course.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/course', course.id, 'view']" class="btn btn-info btn-sm"
                      data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
<!--Do wywalenia -->
<!--              <button type="submit" [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary btn-sm"-->
<!--                      data-cy="entityEditButton">-->
<!--                <fa-icon icon="pencil-alt"></fa-icon>-->
<!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--              </button>-->

              <button type="submit" (click)="delete(course)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
<!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                <span class="d-none d-md-inline">Wypisz się</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--All courses-->
  <div>
    <h2 id="page-heading" data-cy="CourseHeading">
      <span *jhiHasAnyAuthority="['ROLE_USER','ROLE_ADMIN']" jhiTranslate="myTeacherApp.course.home.title">Courses</span>
<!--    <h2 id="page-heading" data-cy="CourseHeading">-->
      <span *jhiHasAnyAuthority="['ROLE_TEACHER']">My courses</span>

      <div class="d-flex justify-content-end">

        <button
          *jhiHasAnyAuthority="['ROLE_TEACHER','ROLE_ADMIN']"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-course"
          [routerLink]="['/course/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="myTeacherApp.course.home.createLabel"> Create a new Course </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
      <span jhiTranslate="myTeacherApp.course.home.notFound">No courses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="courses && courses.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.name">Name</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.value">Value</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.price">Price</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.category">Category</span></th>
          <th scope="col"><span jhiTranslate="myTeacherApp.course.description">Description</span></th>
          <th scope="col"><span>Instruktor</span></th>
          <!--          <th scope="col"><span jhiTranslate="myTeacherApp.course.user">User</span></th>-->
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of courses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/course', course.id, 'view']">{{ course.id }}</a>
          </td>
          <td>{{ course.name }}</td>
          <td>{{ course.value }}</td>
          <td>{{ course.price }}</td>
          <td>{{ course.category }}</td>
          <td>{{ course.description }}</td>
          <td>
            {{ course.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/course', course.id, 'view']" class="btn btn-info btn-sm"
                      data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_TEACHER', 'ROLE_ADMIN']"
                type="submit" [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary btn-sm"
                      data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_TEACHER', 'ROLE_ADMIN']"
                type="submit" (click)="delete(course)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
              <button
                *jhiHasAnyAuthority="'ROLE_USER'"
                class="btn btn-success"
                data-cy="entityDeleteButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
                <span class="d-none d-md-inline" >Kup Kurs</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
