<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="taskSolved">
      <h2 data-cy="taskSolvedDetailsHeading"><span>Rozwiązanie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ taskSolved.id }}</span>
        </dd>
        <dt><span>Wartość punktowa</span></dt>
        <dd>
          <span>{{ taskSolved.pointGrade }}</span>
        </dd>
        <dt><span>Treść</span></dt>
        <dd>
          <span>{{ taskSolved.content }}</span>
        </dd>
        <dt><span>Deadline</span></dt>
        <dd>
          <span>{{ taskSolved.deadline | formatMediumDate }}</span>
        </dd>
        <dt><span>Dzień wysłania</span></dt>
        <dd>
          <span>{{ taskSolved.sendDay | formatMediumDate }}</span>
        </dd>
        <dt><span>Odpowiedź</span></dt>
        <dd>
          <span>{{ taskSolved.answer }}</span>
        </dd>
        <dt><span>Załącznik</span></dt>
        <dd>
          <div *ngIf="taskSolved.attachment">
            <a class="btn btn-outline-secondary" (click)="openFile(taskSolved.attachment, taskSolved.attachmentContentType)"
              ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
              <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
            </svg>Otwórz</a>

          </div>
        </dd>
        <dt><span>Użytkownik</span></dt>
        <dd>
          <span>{{ taskSolved.user?.login }}</span>
        </dd>
        <dt><span>Zadanie</span></dt>
        <dd>
          <div *ngIf="taskSolved.task">
            <a [routerLink]="['/task', taskSolved.task?.id, 'view']">{{ taskSolved.task?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/task-solved', taskSolved.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
